@import url(./reuse.css);

.bg-orange {
    background-color: var(--dark-orange);
    border: 2px solid var(--dark-orange) !important;
}

.bg-orange:hover {
    color: var(--dark-orange) !important;
}

.bg-orange:active {
    border: 2px solid white !important;
    color: white !important;
}

.hover-overlay-orange:hover {
    /* filter: brightness(50%); */
    background-color: var(--dark-orange);
    opacity: 80%;
}

.hover-overlay-orange::target-text{
    opacity: 100%;
}